/**BASE STYLE**/
body {
    background-color: lightseagreen;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}
#portfolio {
    height: 1300px;
}

#about {
    height: 500px;
}

#connect {
    height: 300px;
}
/**GRID**/
.full-width {
    /**clear: left;
    display: block;**/
    width: 1200px;
    margin: 0 auto;
}

.half-width {
    width: 600px;
    height: 400px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
    text-align: center;
}

/**HEADER**/

header {
    height: 500px;
    background: url("../img/white-texture.jpg");
    background-size: cover;
    position: center;
    
}

header h1 {
    color: #527a5c;
    font-family: 'El Messiri', sans-serif;
    font-size: 60px;
    margin: 0 auto;
    padding-top: 140px;
    text-align: center;
}

header h2 {
    color: #189984;
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
    text-align: center;
}

/**PORTFOLIO**/
#portfolio {
    background-color: lightsteelblue;
}
#portfolio img {
    width: 500px;
    height: auto;
}
#portfolio h2{    
    font-family: 'El Messiri', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
}

#portfolio h3{    
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#portfolio p {
    font-size: 24px;
    text-align: justify;
}

/**ABOUT**/
#about {
    background-color: #334d4d;
    border: solid 5px;
}

#about h2 {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    font-size: 36px;
}

#about img {
    border: solid white 10px;
    margin-left: 70px;
}

#about p {
    font-size: 24px;
    margin-top: 50px;
    text-align: left;
}

/**CONNECT**/
#connect {
    background-color: #14806E;
    margin: 0 auto;
}

#connect h2 {
    font-family: 'El Messiri', sans-serif;
    text-align: center;
    font-size: 36px;
}

#connect h3 {
    font-family: 'El Messiri', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#connect p {
    font-size: 24px;
    
}


/**FONT
font-family: 'Lobster Two', cursive;
font-family: 'El Messiri', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Source Sans Pro', sans-serif;
**/